*.aux
*.sav
*.texshop
*.bbl
*.blg
*.lof
*.out
images/appendix/seg1.png
*.pdf
*.png
*.jpg
images/
*.toc
*.syi
*.sbl
*.glo
*.acn
*.acr
*.glg
*.alg
*.slg
*.lot
*.gls
*.ist
*.ps
backup_1013_workstation/
*.gz
